<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/libanvl/index.json" />
    <add key="local" value="%NUGET_LOCAL_FEED%" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="%LIBANVL_USER%" />
      <add key="ClearTextPassword" value="%LIBANVL_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>