<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="libanvl.private" value="https://nuget.pkg.github.com/libanvl/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <libanvl.private>
      <add key="Username" value="%LIBANVL_USER%" />
      <add key="ClearTextPassword" value="%LIBANVL_TOKEN%" />
    </libanvl.private>
  </packageSourceCredentials>
</configuration>
