@page "/"
@layout MonkeyMainLayout
@using libanvl.monkey
@using libanvl.monkey.Model
@using libanvl.monkey.site

<MonkeyMainTemplate>
    <Content>
        <MonkeyPage Meta="@(new PageMeta
        {
          Title =   "Ultricies sed magna euismod enim vitae gravida",
          SubTitle = "Lorem ipsum dolor amet nullam consequat etiam feugiat",
          FeaturedImage = new Image
          {
            Src = "/_content/libanvl.monkey.theme.futureimperfect/_theme/images/pic02.jpg",
            Alt = "Just a picture"
          }
        })">
            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
        </MonkeyPage>

        <MonkeyPage Meta="@(new PageMeta
        {
          Title =   "Euismod et accumsan",
          SubTitle = "Lorem ipsum dolor amet nullam consequat etiam feugiat",
          FeaturedImage = new Image
          {
            Src = "/_content/libanvl.monkey.theme.futureimperfect/_theme/images/pic03.jpg",
            Alt = "Just a picture"
          }
        })">
            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
        </MonkeyPage>

        <!-- Pagination -->
        <MonkeyActionsBlock Pagination="@true">
            <MonkeyActionItem><MonkeyNavButton Disabled="@true">Previous Page</MonkeyNavButton></MonkeyActionItem>
            <MonkeyActionItem><MonkeyNavButton>Next Page</MonkeyNavButton></MonkeyActionItem>
        </MonkeyActionsBlock>
    </Content>
    <Sidebar>
        <MonkeySidebar Posts="_samplePosts" />
    </Sidebar>
</MonkeyMainTemplate>

@code {

    private List<PostMeta> _samplePosts = new()
        {
            new PostMeta
            {
                Title = "First Post",
                SubTitle = "This is about something",
                Date = new DateOnly(2021, 1, 2).ToDateTime(TimeOnly.MinValue),
                Published = true,
                Tags = new[] { "Post", "Something" },
                Author = new AuthorInfo { Name = "Curious George" }
            },
            new PostMeta
            {
                Title = "Second Post",
                SubTitle = "This is probably something",
                Date = new DateOnly(2021, 1, 3).ToDateTime(TimeOnly.MinValue),
                Published = true,
                Tags = new[] { "Post", "Something", "Whatever" },
                Author = new AuthorInfo { Name = "Curious George" }
            },
        };
}
